body{
	background-color: #d9dcd6;
	margin: 0;
	font-size: 30px;
	font-family: Tahoma;
}
header{
	background-color: #2f6690;
	padding: 10px 30px;
}
img.main-logo{
	height: 60px;
	border-radius: 50%;
	box-shadow: 0px 0 10px #16425B;
	margin-right: 20px;
}
a.decor-none{
	text-decoration: none;
	color: #ddf4ff;
}
button.decor-none{
	border: none;
	background-color: inherit;
	color: #ddf4ff;
	font-size: inherit;
	font-family: inherit;
}
button.profile-button{
	font-size: smaller;
}
.header-title{
	align-items: center;
	color: #ddf4ff;
	font-size: larger;
}
.text-shadow{
	text-shadow: 1px 0 0 #16425B;
}
.space-between{
	justify-content: space-between;
}
.display-flex{
	display: flex;
}
.aic{
	align-items: center;
}
.jcc{
	justify-content: center;
}
.no-margin{
	margin: 0;
}
.begin-plate{
	height: calc(90vh);
	align-items: center;
	background-image: url("./img/background2.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	font-size: 26px;
}
button.start-button{
	color: #ddf4ff;
	background-color: #2f6690;
	border: 1px solid #16425B;
	border-radius: 15px;
	padding: 10px 25px;
	height: min-content;
	box-shadow: 0 0 10px #626972;
	margin: auto auto;
	font-size: inherit;
}
.presentation{
	background-color: #f3f3f3;
	border-radius: 10px;
	box-shadow: 0 0 10px #626972;
	margin: 0 auto;
	max-width: 30%;
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.who-are-we{
	background-color: #175d92;
	color: #ddf4ff;
	flex-direction: column;
	font-size: 26px;
	padding: 10px 30px;
}
.who-are-we-label{
	font-size: larger;
	margin: 0 auto;
}
footer{
	color: #ddf4ff;
	background-color: #162c5b;
	font-size: smaller;
	font-size: 26px;
}
.work-team, .proj-purpose{
	margin: 0 auto;
	max-width: 50%;
}
.tac{
	text-align: center;
}
footer{
	font-size: 20px;
	padding: 20px 60px;
	color: #9dafb8;
}
a.footer-ref:link{
	color: #9dafb8;
}
a.footer-ref:visited{
	color: #73a1a1;
}
a.footer-ref:hover{
	color: #bdeaff;
}
a.footer-ref:active{
	color: red;
}
/* далее стили для room-list.html */
.rooms-plate{
	height: calc(100vh);
	background-image: url("./img/background2.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	font-size: 26px;
	flex-direction: column;
}
.rooms-label{
	margin: 30px auto;
}
div.search-bar{
	height: fit-content;
	padding-right: 30px;
	margin:0 auto;
}
form.search-bar, label.search-bar{
	align-items: center;
}
img.search-bar{
	width: 30px;
}
input.search-bar{
	margin: 0;
	height: fit-content;
	width: fit-content;
	border-radius: 10px;
	border: gray 1px solid;
	padding: 0 10px;
	font-size: inherit;
}
.gridded-rooms{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 20px;
	column-gap: 40px;
	margin: 30px auto;
	width: fit-content;
}
.room{
	background-color: #b6b6b6;
	border-radius: 20px;
	border: 0;
	width: auto;
	padding: 0 30px;
	font-size: inherit;
}
.room-img{
	height: 50px; margin-right: 15px;
	background-color: white;
	border-radius: 100px;
}
button.create-room-button{
	color: #ddf4ff;
	background-color: #2f6690;
	border: 1px solid #16425B;
	border-radius: 6px;
	padding: 3px 15px;
	height: min-content;
	box-shadow: 0 0 10px #626972;
	margin: 0 auto;
	font-size: inherit;
}
/* далее стили для in-chat.html */
.in-chat-main{
	height: calc(100vh - 80px);
	background-image: url("./img/background2.jpg");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.messages-container{
	height: inherit;
	align-items: center;

	font-size: 26px;
	width: 100%;
	flex-direction: column;
}
.msg{
	border-radius: 20px;
	width: fit-content;
	max-width: 40%;
	padding: 10px 40px;
	margin: 20px;
	word-wrap: break-word;
}
.my-msg{
	margin-left: auto;
	background-color: #51b4ff;
}
.their-msg{
	margin-right: auto;
	background-color: #b6b6b6;
}
form{
	margin-top: auto;
	width: 100%;
}
.message-box{
	width: 100%;
	border-radius: 20px;
	background-color: white;
	height: 80px;
	border: 1px solid #b6b6b6;
	margin: 10px 0px 10px 40px;
	padding: 10px 20px;
	resize: none;
	font-size: inherit;
	font-family: inherit;
}
.submit-button{
	font-size: inherit;
	padding:0px 60px;
	margin:0 10px 0 0;
	background: url(./img/send-button.png);
	background-position: center;
	background-size: 40px;
	background-repeat: no-repeat;
	width: fit-content;
	background-color: none;
	border: 0;
}
.users-in-room{
	margin-left: auto;
	padding: 0 10px;
	background-color: #d9dcd6;
	flex-direction: column;
	width: fit-content;
	max-width: 50%;
}
.users-in-room-label{
	margin: 10px 0;
}
.user{
	background-color: #b6b6b6;
	border-radius: 20px;
	width: auto;
	padding: 5px 30px;
	margin: 10px 0;
	font-size: 26px;
}
.user-name{
	white-space: nowrap;
}
.user-img{
	height: 50px; margin-right: 15px;
	background-color: white;
	border-radius: 100px;
}